<div class="text-center m-5">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= image_tag 'img_logo.png', class: "mb-4" , size: "100x100"%>
      <h1 class="h3 mb-3 fw-normal"><%= t('.sign_in') %></h1>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "emailInput" %>
        <%= f.label :email , class: "form-label", for: "emailInput" %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "passwordInput" %>
        <%= f.label :password, class: "form-label", for: "passwordInput" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox mb-3" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit t('.sign_in'), class: "w100 btn btn-lg btn-primary" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </main>

</div>
