<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Myrecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #F7EAD0;">
      <div class="container-fluid">
        <%= link_to "MYREPI", root_path, class: "navbar-brand"%>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to 'アカウント編集', edit_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to 'アカウント登録', new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if flash[:notice] %>
      <p>Notice: <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p>Alert: <%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
